DATABASE_URL="file:./dev.db"

ADMIN_LOGIN=
ADMIN_PASSWORD_HASH=
ADMIN_JWT_SECRET=

SMTP_USER=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=465
SMTP_SECURE=true
SMTP_FROM=
FORM_RECIPIENT_EMAIL=
MAIL_TO=

NEXT_PUBLIC_YANDEX_MAPS_API_KEY=
